[Unit]
Description=TuxCMDB API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/tuxcmdb-api
ExecStart=/usr/bin/tuxcmdb-api
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
